@model IEnumerable<olympicEvents.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th  style="text-align: center;">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participation_Percent)
        </th>

        <th  style="text-align: center;">Action</th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td style="text-align:center;">
            @Html.DisplayFor(modelItem => item.Participation_Percent)
        </td>
        
        <td style="width:200px;
              text-align:center;">
@if (User.IsInRole("user"))
{
    @Html.ActionLink("Edit", "Edit", new { id = item.eventID })
                           }
         @Html.ActionLink("Details", "Details", new { id = item.eventID })
@if (User.IsInRole("user"))
{
    @Html.ActionLink("Delete", "Delete", new { id = item.eventID })
}
        </td>
        
    </tr>
}

</table>
