@model IEnumerable<olympicEvents.Models.EventsDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Top 2 Players Of All Time</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event.Name)
        </th>
        <th style="text-align:center;">
           Player
        </thstyle="text-align:center;>
        <th  style="text-align:center;">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age_InYears)
        </th>

      <th  style="text-align:center;">Action</th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td style="text-align:center;">
            @Html.DisplayFor(modelItem => item.Age_InYears)
        </td>
     

        <td style="width:200px;
              text-align:center;">
            @if (User.IsInRole("user")) {
            @Html.ActionLink("Edit", "Edit", new { id = item.event_detailID })
                          }
           @Html.ActionLink("Details", "Details", new { id = item.event_detailID })
            @if (User.IsInRole("user"))
            {
             @Html.ActionLink("Delete", "Delete", new { id = item.event_detailID })
            }
        </td>
      
    </tr>
}

</table>
